:root {
  --color-header: #ffffff;
  --color-nav-link: gray;
  --color-footer: #ffffff;
  --color-text-footer: gray;
  --color-hover: #5675af;

  --color-primary: #0071c2;
  --color-text-white: #ffffff;
  --color-text-black: #000000;
  --color-text-description-light: #97b3c5;
  --color-text-darkgray: #6d818d;
  --color-background-darkblue: #00224f;
  --color-background-white: #ffffff;
  --color-background-light: #eff6fb;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: unset;
}
/* main {
  width: fit-content;
} */

h1,
h2,
h3 {
  text-transform: uppercase;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  padding: 10px 40px;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  margin-block-start: unset;
  margin-block-end: unset;
  padding: unset;
  justify-content: center;
}
/* toggled */

.menu {
  background-color: #fff;
  width: 100%;
  list-style: none;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
  text-align: center;
  justify-content: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.menu li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: var(--color-text-darkgray);
}

.menu li a:hover,
.menu-btn:hover {
  background-color: #f4f4f4;
  color: var(--color-hover);
}
/* menu */

.menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
/* menu icon */

.menu-icon {
  position: absolute !important;
  right: 0;
  cursor: pointer;
  display: none;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* end toogled */

.nav-link {
  display: flex;
  float: left;
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-link a {
  text-decoration: none;
  color: var(--color-nav-link);
}
.nav-link :hover {
  cursor: pointer;
  color: #5675af;
}
/* main {
  height: 100vh;
} */
section {
  width: 100%;
}
footer {
  display: flex;
  flex-direction: row;
  background-color: var(--color-footer);
  color: var(--color-text-footer);
  padding: 5px 40px;
  justify-content: space-between;
}
footer ul li {
  float: right;
  list-style: none;
  margin: 5px;
  text-align: start;
}
footer ul li a {
  text-decoration: none;
  color: var(--color-text-footer);
}

footer p {
  display: flex;
  text-align: end;
  padding: unset;
  margin-top: auto;
  margin-bottom: auto;
}
.container-wrapper {
  max-width: 1024px;
  margin: auto;
}

/* Flexbox */
.container-flex {
  display: flex;
}
/* End Flexbox */

/* packages */
.container-flex div {
  flex-direction: row;
  /* flex-basis: 320px; */
}

.packages-item {
  background-color: var(--color-background-light);
  box-shadow: 0px 2px 7px 0px var(--color-background-darkblue);
  transition: transform 0.1s;
  float: left;
  margin: 10px 10px;
  border-radius: 5px;
}
.packages-item:hover {
  transform: scale(1.2);
}
.packages-item h2 {
  text-transform: uppercase;
  color: var(--color-text-darkgray);
}
.packages-item h3 {
  color: var(--color-text-darkgray);
}
.packages-item-description {
  background-color: var(--color-background-white);
  color: var(--color-text-darkgray);
  padding: 1em;
}

.packages-item-description ul {
  list-style: none;
  padding: 0 0.5em;
}
.packages-item-description ul li:before {
  content: "✅";
  margin-right: 5px;
}
.packages-item-description ul li {
  text-align: left;
}


/* modifiers */
.pt-200 {
  padding-top: 200px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}

.center {
  text-align: center;
}
/* main-head */
#main-header {
  background-image: linear-gradient(180deg, rgb(193 185 185 / 0%), rgb(0 0 0)),
    url(https://wallpaperaccess.com/full/42545.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-text-white);
  text-align: center;
  margin: auto;
}
#main-header div {
  justify-content: center;
  margin: auto;
  padding: 3em;
}
#main-header div img {
  width: 400px;
}
/* destination */

#services div {
  justify-content: center;
}
#services h1 {
  color: var(--color-text-black);
}
.destination {
  flex-basis: 300px;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  background-color: var(--color-background-light);
  box-shadow: 0px 2px 7px 0px var(--color-background-darkblue);
  margin: 10px;
}
.destination h3 {
  margin: 0;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--color-text-footer);
}
.destination img {
  float: left;
  width: 100%;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

/* .destination p {
  justify-content: flex-start;
} */
/* promocional */
#promocionals {
  background-color: var(--color-background-light);
}
.promocional {
  width: 100%;
  margin: auto;
}
.promocional iframe {
  align-self: center;
  width: 90%;
  height: 80%;
}
/* Form */
#form {
  display: flex;
  justify-content: center;
}
#form input {
  font-size: 18pt;
  border-radius: 5px;
  margin-right: 5px;
  padding: 5px;
}
#form [type="email"] {
  font-weight: 200;
}
#form [type="submit"] {
  background-color: var(--color-primary);
  border: solid var(--color-primary);
  color: var(--color-text-white);
}

#form [type="submit"]:hover {
  cursor: pointer;
  background-color: var(--color-hover);
  border: solid var(--color-hover);
  color: var(--color-text-white);
}
#subscribe p {
  color: var(--color-text-description-light);
}
.subscribe {
  background-color: var(--color-background-darkblue);
  color: var(--color-text-white);
}



/* Breakpoints */
@media only screen and (min-width: 320px) and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  nav {
    display: none;
  }
  .menu-icon {
    display: flex;
  }
  .container-flex {
    flex-direction: column;
    margin: 10px auto;
  }
  .container-flex div {
    flex-basis: 100%;
  }
  .promocional iframe {
    height: 40%
  }
  #main-header {
    padding: 40px 0px 20px;
    background-position: center;
  }
  #main-header div img {
    width: 260px;
    margin: auto;
  }

  #subscribe p {
    margin: 20px 30px;
  }
  #form {
    flex-direction: column;
  }
  #form input {
    margin: 5px 20px;
    padding: 10px;
  }
  footer {
    flex-direction: column;
    justify-content: unset;
    padding: 10px 20px;
  }
  footer ul {
    display: contents;
  }
  footer ul li {
    float: left;
    text-align: start;
  }
  footer ul li a {
    margin: 5px 0;
  }
  footer p {
    display: block;
    text-align: center;
    padding: 10px 0px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media only screen 
  and (min-width: 641px) 
  and (max-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {
    nav {
      display: none;
    }
    .menu-icon {
      display: flex;
    }
    .container-flex {
      flex-direction: column;
      margin: 10px auto;
    }
    .container-flex div {
      flex-basis: 100%;
    }
    .promocional iframe {
      height: 40%
    }
    #main-header {
      padding: 40px 0px 20px;
      background-position: center;
    }
    #main-header div img {
      width: 260px;
      margin: auto;
    }
  
    #subscribe p {
      margin: 20px 30px;
    }
    #form {
      flex-direction: column;
    }
    #form input {
      margin: 5px 20px;
      padding: 10px;
    }
    footer {
      flex-direction: column;
      justify-content: unset;
      padding: 10px 20px;
    }
    footer ul {
      display: contents;
    }
    footer ul li {
      float: left;
      text-align: start;
    }
    footer ul li a {
      margin: 5px 0;
    }
    footer p {
      display: block;
      text-align: center;
      padding: 10px 0px;
      margin-top: auto;
      margin-bottom: auto;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #main-header {
      padding: 40px 0px 20px;
      background-position: center;
    }
    #main-header div img {
      width: 260px;
      margin: auto;
    }
    .promocional iframe {
      height: 40%
    }
    #subscribe p {
      margin: 20px 30px;
    }
    #form {
      flex-direction: column;
    }
    #form input {
      margin: 5px 20%;
      padding: 10px;
    }
}
@media screen 
  and (min-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .promocional iframe {
      height: 60%
    }
    #main-header {
      padding: 40px 0px 20px;
      background-position: center;
    }
    #main-header div img {
      width: 400px;
      margin: auto;
    }
}
